extends ../partials/head
block content
    .all-wrapper
        .all-header-wrapper
            .header-title-wrapper
                .header-title= __('Case Studies')
                .header-subtitle= __('See, create and edit case studies')
            .header-create-new-content-item-button.general-seablue-button(style='width: 250px; margin: 0px')#create-case-study-button
                span= __('Create Case Study')
        .all-content-wrapper
            .all-content-inner-wrapper#all-content-inner-wrapper
            form.all-content-create-new-content-item-wrapper#create-case-study-form
                span.content-go-back-button.header-create-new-content-item-back-button#go-back-button < #{__('Back')}
                span.general-input-title= __('Company Logo')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please choose an image to show as company logo in the case study. An image with closer width and height values would result in a better UI')
                .general-image-input-outer-wrapper
                    input.display-none#company-logo(type='text' name='image')
                    label.general-choose-image-input-text
                        span.general-choose-image-text= __('Choose')
                        span.general-uploading-image-text #{__('Uploading')}...
                        input.display-none.upload-image-input(type='file' accept='image/*')
                    .general-image-input-wrapper(style='display: none')
                        .general-image-input-wrapper-image
                            img
                        i.fas.fa-times.delete-image-button
                span.general-input-title= __('Case Study Main Headline')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter a title as a headline for the case study.')
                input.general-input-with-border(placeholder='Main headline')#main-title
                span.general-input-title= __('Case Study Headline Description')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter a description for the headline.')
                input.general-input-with-border(placeholder='Headline description')#main-description
                span.general-input-title= __('Headline Image')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please choose an image for headline design.')
                .general-image-input-outer-wrapper
                    input.display-none#headline-image(type='text' name='image')
                    label.general-choose-image-input-text
                        span.general-choose-image-text= __('Choose')
                        span.general-uploading-image-text #{__('Uploading')}...
                        input.display-none.upload-image-input(type='file' accept='image/*')
                    .general-image-input-wrapper(style='display: none')
                        .general-image-input-wrapper-image
                            img
                        i.fas.fa-times.delete-image-button
                span.general-input-title= __('Company Name')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter the name of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company name')#company-name
                span.general-input-title= __('Company Location')
                span.general-input-explanation-text= __('Please enter the location of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company location')#company-location
                span.general-input-title= __('Company Industry')
                span.general-input-explanation-text= __('Please enter the industry of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company Industry')#company-industry
                span.general-input-title= __('Company IPO')
                span.general-input-explanation-text= __('Please enter the IPO of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company IPO')#company-ipo
                span.general-input-title= __('Company Website')
                span.general-input-explanation-text= __('Please enter the website of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company website')#company-website
                span.general-input-title= __('Company\'s Employee Number')
                span.general-input-explanation-text= __('Please enter the employee number of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company\'s employee number')#company-employee-number
                span.general-input-title= __('Company\'s Year Of Foundation')
                span.general-input-explanation-text= __('Please enter the foundation year of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company\'s foundation year')#company-established-year
                span.general-input-title= __('Company\'s Speciality')
                span.general-input-explanation-text= __('Please enter the speciality of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company\'s speciality')#company-speciality
                span.general-input-title= __('Company\'s Stage')
                span.general-input-explanation-text= __('Please enter the stage of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company\'s stage')#company-stage
                span.general-input-title= __('Company\'s Type')
                span.general-input-explanation-text= __('Please enter the type of the company that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Company\'s type')#company-type
                span.general-input-title= __('Personal name')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter the name of the personal that will be mentioned in the case study.')
                input.general-input-with-border(placeholder='Personal name')#personal-name
                span.general-input-title= __('Personal\'s role')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter the role of the personal in the company.')
                input.general-input-with-border(placeholder='Personal role. ex: Product manager')#personal-role
                span.general-input-title= __('Personal\'s quote')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please enter the quote which is about usersmagic.')
                input.general-input-with-border(placeholder='Personal\'s quote')#personal-quote
                span.general-input-title= __('Personal\'s Photo')
                    span.general-input-required-sign *
                span.general-input-explanation-text= __('Please choose a photo of the personal.')
                .general-image-input-outer-wrapper
                    input.display-none#personal-photo(type='text' name='image')
                    label.general-choose-image-input-text
                        span.general-choose-image-text= __('Choose')
                        span.general-uploading-image-text #{__('Uploading')}...
                        input.display-none.upload-image-input(type='file' accept='image/*')
                    .general-image-input-wrapper(style='display: none')
                        .general-image-input-wrapper-image
                            img
                        i.fas.fa-times.delete-image-button
                span.general-input-title= __('Context Paragraph')
                span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                input.general-input-with-border(placeholder='Context paragraph')#context-paragraph
                span.general-input-title= __('Problem Paragraph')
                span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                input.general-input-with-border(placeholder='Problem paragraph')#problem-paragraph
                span.general-input-title= __('Solution Paragraph')
                span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                input.general-input-with-border(placeholder='Solution paragraph')#solution-paragraph
                span.general-input-title= __('Results Paragraph')
                span.general-input-explanation-text= __('Please enter a paragraph for the results part.')
                input.general-input-with-border(placeholder='Results paragraph')#results-paragraph
                span.general-input-title= __('Language')
                  span.general-input-required-sign *
                span.general-input-explanation-text= __('Select the language of the case study. (Select only one)')
                .general-checked-input-wrapper
                    input.general-checked-input-value#language-input(type="text" value="[]")
                    .general-each-checked-input
                        .general-each-checked-input-icon
                            i.fas.fa-check 
                        span(id="tr") Türkçe
                    .general-each-checked-input
                        .general-each-checked-input-icon
                            i.fas.fa-check 
                        span(id="en") English
                .general-input-error-line#general-input-error-line
                .general-seablue-button(style='width:250px')#submit-button
                    span= __('Create')