extends ../partials/head
block content
    .all-wrapper
            .all-header-wrapper
                .header-title-wrapper
                    .header-title= __(`${caseStudy.company_name} | Edit`)
                    .header-subtitle= __(`Edit ${caseStudy.company_name}'s case study.`)
            .all-content-wrapper
                form.all-content-create-new-content-item-wrapper#edit-case-study-form
                    span.content-go-back-button.header-create-new-content-item-back-button#go-back-button < #{__('Back')}
                    span.general-input-title= __('Case Study Main Headline')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter a title as a headline for the case study.')
                    input.general-input-with-border(placeholder='Main headline')#main-title
                    span.general-input-title= __('Case Study Headline Description')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter a description for the headline.')
                    input.general-input-with-border(placeholder='Headline description')#main-description
                    span.general-input-title= __('Company Name')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter the name of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company name')#company-name
                    span.general-input-title= __('Company Location')
                    span.general-input-explanation-text= __('Please enter the location of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company location')#company-location
                    span.general-input-title= __('Company Industry')
                    span.general-input-explanation-text= __('Please enter the industry of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company Industry')#company-industry
                    span.general-input-title= __('Company IPO')
                    span.general-input-explanation-text= __('Please enter the IPO of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company IPO')#company-ipo
                    span.general-input-title= __('Company Website')
                    span.general-input-explanation-text= __('Please enter the website of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company website')#company-website
                    span.general-input-title= __('Company\'s Employee Number')
                    span.general-input-explanation-text= __('Please enter the employee number of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company\'s employee number')#company-employee-number
                    span.general-input-title= __('Company\'s Year Of Foundation')
                    span.general-input-explanation-text= __('Please enter the foundation year of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company\'s foundation year')#company-established-year
                    span.general-input-title= __('Company\'s Speciality')
                    span.general-input-explanation-text= __('Please enter the speciality of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company\'s speciality')#company-speciality
                    span.general-input-title= __('Company\'s Stage')
                    span.general-input-explanation-text= __('Please enter the stage of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company\'s stage')#company-stage
                    span.general-input-title= __('Company\'s Type')
                    span.general-input-explanation-text= __('Please enter the type of the company that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Company\'s type')#company-type
                    span.general-input-title= __('Personal name')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter the name of the personal that will be mentioned in the case study.')
                    input.general-input-with-border(placeholder='Personal name')#personal-name
                    span.general-input-title= __('Personal\'s role')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter the role of the personal in the company.')
                    input.general-input-with-border(placeholder='Personal role. ex: Product manager')#personal-role
                    span.general-input-title= __('Personal\'s quote')
                        span.general-input-required-sign *
                    span.general-input-explanation-text= __('Please enter the quote which is about usersmagic.')
                    input.general-input-with-border(placeholder='Personal\'s quote')#personal-quote
                    span.general-input-title= __('Context Paragraph')
                    span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                    input.general-input-with-border(placeholder='Context paragraph')#context-paragraph
                    span.general-input-title= __('Problem Paragraph')
                    span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                    input.general-input-with-border(placeholder='Problem paragraph')#problem-paragraph
                    span.general-input-title= __('Solution Paragraph')
                    span.general-input-explanation-text= __('Please enter a paragraph for the context part.')
                    input.general-input-with-border(placeholder='Solution paragraph')#solution-paragraph
                    span.general-input-title= __('Results Paragraph')
                    span.general-input-explanation-text= __('Please enter a paragraph for the results part.')
                    input.general-input-with-border(placeholder='Results paragraph')#results-paragraph
                    .general-seablue-button(style='width:250px')#submit-button
                        span= __('Save')