extends ../partials/head
block content
  .all-wrapper
    .all-header-wrapper
      span.header-admin-name= admin.name
      span.header-admin-username= admin.username
      span.header-admin-roles #{__('Roles')}: #{admin.roles.map(role => __(role)).join(', ')}
    .all-content-wrapper
      .all-content-inner-wrapper
        each menu in menus
          a.each-menu-wrapper(href=menu.link)
            span.menu-title= menu.name
            span.menu-subtitle= menu.details
            span.menu-role #{__('role')}: #{__(menu.role)}
