extends ../partials/head
block content
  input.display-none#company_id(type="text" value=company._id.toString())
  .all-wrapper
    .all-header-wrapper
      .header-title-wrapper
        span.header-title= company.company_name
        span.header-subtitle= __('Edit this company')
    .all-content-wrapper
      form.all-content-create-new-content-item-wrapper(style="display: flex")
        span.content-go-back-button.edit-go-back-button < #{__('Back')}
        span.general-input-title= __('Company Password')
        span.general-input-explanation-text= __('Enter a new password for the company')
        input.general-input-with-border#new-password(type="password" placeholder="Password" value="" autocomplete="off")
        span.general-input-title= __('Credit Amount')
        span.general-input-explanation-text= __('Give a credit amount for this company')
        input.general-input-with-border#credit-amount(type="number" placeholder="Credit Amount" value=company.credit)
        .general-input-error-line
          span#bad-request-error= __('You seem to have a missing field. Please check that you have entered all the required fields for your question type.')
        .general-input-error-line
          span#unknown-error= __('An unknown error occured, please try again later')
        button.general-seablue-button.password-reset(style="width: 250px;")
          span= __('Save')      
