extends ../partials/head
block content
  input.display-none#companies(type="text" value=JSON.stringify(companies))
  input.display-none#filters(type="text" value=JSON.stringify(filters))
  input.display-none#options(type="text" value=JSON.stringify(options))
  .all-wrapper
    .all-header-wrapper
      .header-title-wrapper
        span.header-title= __('Companies')
        span.header-subtitle= __('You can edit and filter companies')
    .all-content-wrapper
      .all-content-inner-wrapper
        .companies-page-wrapper
          .change-page-wrapper
            .change-page-button.previous-page-button(href=`/companies?` style=(options.skip ? "" : "cursor: not-allowed")) 
              i.fas.fa-chevron-left
              span #{__('Previous')}
            .change-page-button.next-page-button(href=`/companies?` style=(companies.length == options.limit ? "" : "cursor: not-allowed")) 
              span #{__('Next')}
              i.fas.fa-chevron-right
          .filter-questions-wrapper
            .filter-each-item-wrapper
              input.general-input-with-border#filter-companyname-input(type="text" value=filters.company_name placeholder=__('Company Name'))
            .filter-each-item-wrapper
              input.general-input-with-border#filter-email-input(type="text" value=filters.email placeholder=__('E-mail'))
            .filter-each-item-wrapper
              .general-seablue-border-button.filter-companies-button
                span= __('Filter Companies')
        each company in companies
          .each-item-wrapper
            .each-item-header
              span.each-item-title= company.company_name 
              span.each-item-subtitle= company.country
              i.fas.fa-chevron-down.each-company-details-button
              i.fas.fa-cog.each-company-edit-button(id=company._id)
            .each-item-content
              .each-item-content-item
                span.each-item-content-item-header #{__('Name')}:
                span.each-item-content-item-value #{company.company_name}
              .each-item-content-item
                span.each-item-content-item-header #{__('Country')}:
                span.each-item-content-item-value #{company.country}
              .each-item-content-item
                span.each-item-content-item-header #{__('Phone Number')}:
                span.each-item-content-item-value #{company.phone_number}
              .each-item-content-item
                span.each-item-content-item-header #{__('Account Holder Name')}:
                span.each-item-content-item-value #{company.account_holder_name}
              .each-item-content-item
                span.each-item-content-item-header #{__('Credit')}:
                span.each-item-content-item-value #{company.credit}
              .each-item-content-item
                span.each-item-content-item-header #{__('Timezone')}:
                span.each-item-content-item-value #{company.timezone}
              .each-item-content-item
                span.each-item-content-item-header #{__('Email')}:
                span.each-item-content-item-value #{company.email}
              
